<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ClientVersion"      value="v1.0b"/>
    <add key="LogFileDestination" value="TogglService\TogglService.log"/>
    <add key="AuthorizationKey"   value="Basic"/>
    <add key="DomainName"         value="Workspace"/>
    <add key="DomainProjectName"  value="Project"/>
    <add key="DefaultTimeEntryDurationMinutes" value="15"/>
  </appSettings>
    <system.net>
      <defaultProxy useDefaultCredentials="true" />
    </system.net>
</configuration>